.info-panel {
    z-index: 1;
    position: absolute;
    margin: 0.3rem;
    display: inline-block;
    color: white;
    background: #0D1127;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.3rem;
    border: 0.2rem solid #5978F3;
    font-size: 1.3rem;
    line-height: 1em;
    letter-spacing: 0.075em;
}

.info {
    display: inline;
    color: white;
}

.hidden {
    visibility: hidden;
}
